<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hospital Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="login-container">

        <div class="login-box">

            <h1>🏥 Hospital Management</h1>

            <p>Admin Login</p>

            <form action="/dashboard" method="GET">

                <input
                    type="text"
                    name="username"
                    placeholder="Enter Username"
                    required
                >

                <input
                    type="password"
                    name="password"
                    placeholder="Enter Password"
                    required
                >

                <button type="submit">
                    Login
                </button>

            </form>

        </div>

    </div>

</body>
</html>